/*
X-Small	xs	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
*/

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
}

/* STARTER-PACK */
.flexbox{
    display: flex;
}

.flexbox-c{
    display: flex;
    flex-direction: column;
}

/* UTILITIES */
a{
    text-decoration: none;
    color: #797c80;
}

a:not(.card):hover{
    color: white;
}

ul{
    list-style: none;
}

.pill{
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 300;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
}

.pill:hover{
    font-weight: 600;
    border: 2px solid white;
}

.album-title{
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
}

.nav-whiteBigTxt{
    color: white;
    font-weight: 700;
}

.nav-whiteSmallTxt{
    font-size: 0.8rem;
    color: white;
    font-weight: 700;
}

.subtitle,
nav li{
    color: #797c80;
    font-size: 0.8rem;
    font-weight: 600;
}

.category{
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 700;
    color: #7b7e82;
}

.big-title{
    font-size: 1.6rem;
    font-weight: 800;
    color: white;
}

.A{
    padding-bottom: 20px;
    border-left: 7px solid #151922;
}

.B{
    padding-top: 10px;
}

.C{
    padding-top: 50px;
    border-left: 7px solid #151922;
}

/* CONTAINERS */
.categContainer{
    padding: 20px 2%;
}

.containerLarge{
    padding: 30px 10%;
    /* Questo container va a "section.contents" dopo i 992px di width */
}

.containerMedium{
    padding: 30px 4%;
    /* Questo container va a "section.contents" prima dei 992px di width */
}

.navbarContainer{
    padding: 20px;
    /*  Questo container va dato alla "nav" e non cambia mai */
}

.footerContainer{
    padding: 0 10px;
    /*  Questo container va dato al "footer" e non cambia mai */
}

/* BODY */
body{
    flex-wrap: wrap;
}

/* NAVBAR */
nav{
    width: 200px;
    height: calc(100vh - 110px);
    background-color: #000000;
    justify-content: space-between;
}

nav a:hover img{
    filter: grayscale(100%) brightness(100%);
}

/* NAVBAR Top item*/
.logo,
nav ul:first-of-type{
    padding-bottom: 1.5rem;
}

.logo img{
    width: 75%;
}

.greenLine{
    position: relative;
}

.greenLine::before{
    content: '';
    height: 70%;
    width: 2px;
    background-color: #adff30;
    position: absolute;
    left: -20px;
}

.home{
    color: white;
}

.home img,
.search img,
.library img{
    width: 15%;
    vertical-align: bottom;
}

nav li:not(li:last-child){
    padding-bottom: 0.8rem;
}

.playlist{
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.create-playlist img{
    width: 25%;
    vertical-align: middle;
}

/* NAVBAR Bottom item*/
.bottom-item a{
    align-items: center;
}

.download{
    border-bottom: 1px solid white;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.download img{
    height: 20px;
    padding-right: 5px;
}

.download .app{
    font-size: 0.8rem;
    font-weight: 600;
}

.profile img{
    height: 40px;
    padding-right: 8px;
}

.profile .userName{
    font-size: 1rem;
    font-weight: 700;
    color: white;
}

/* MAIN */
main{
    width: calc(100% - 200px);
    height: calc(100vh - 110px);
    background-color: #151922;
}

/* MAIN - Upgrade */
.upgrade{
    justify-content: flex-end;
    padding: 20px 5px;
    background-color: #080b13;
}

/* MAIN - Categories */
.categories{
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.underlined::after{
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 2px;
    width: 80%;
    height: 2px;
    background-color: #adff30;
}

/* MAIN - Contents */
.contents{
    overflow: auto;
    scrollbar-width: none;
    height: calc(100% - 141px);
    width: 100%;
}

.contents::-webkit-scrollbar{
    display: none;
}

.cards-container{
    align-items: flex-start;
    flex-wrap: wrap;
}

.card{
    display: block;
    text-align: center;
    width: calc((100vw - 200px - 0.2 * (100vw - 200px)) / 6);
    border: 10px solid #151922;
}

.album-img{
    height: calc((100vw - 200px - 0.2 * (100vw - 200px)) / 6 - 20px);
}

.album-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.album-title{
    padding-top: 15px;
}

.circles .album-img,
.circles img{
    border-radius: 50%;
}

/* FOOTER */
footer{
    width: 100%;
    height: 110px;
    background-color: #282828;
    justify-content: space-between;
}

.left,
.right{
    width: 250px;
}

.center{
    width: 500px;
}

/* FOOTER - section.left */
.left{
    justify-content: space-between;
    align-items: center;
}

.Album-cover{
    width: 30%;
}

.Titles{
    justify-content: center;
    padding-left: 0.7rem;
}

.Album{
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
}

.track{
    color: #797c80;
    font-size: 0.7rem;
    font-weight: 600;
}

.buttons-left{
    justify-content: center;
    gap: 10px;
}

.buttons-left a{
    width: 25%;
}

.buttons-left img{
    width: 100%;
}

/* FOOTER - section.center */
.center{
    justify-content: center;
}

.buttons-center{
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 1.2rem;
    text-align: center;
}

.buttons-center a{
    width: 6%;
}

.buttons-center .play{
    width: 8%;
}

.buttons-center img{
    width: 100%;
}

.timebarBox{
    justify-content: space-around;
    align-items: center;
}

.time{
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
}

.timebar{
    height: 5px;
    width: 60%;
    background-color: #797c80;
    border-radius: 10px;
}

.timeProgress{
    height: 100%;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.timebar:hover .timeProgress{
    background-color: #adff30;
}

.timebar:hover .slider1{
    display: inline;
}

.slider1,
.slider2{
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #797c80;
    position: absolute;
    right: 0;
    top: -5px;
    display: none;
}

/* FOOTER - section.right */
.right{
    justify-content: space-evenly;
    align-items: center;
}

.right a{
    width: 7%;
}

.right img{
    width: 100%;
}

.volumebar{
    height: 4px;
    width: 50%;
    background-color: #797c80;
    border-radius: 10px;
}

.volumeNow{
    height: 100%;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.volumebar:hover .volumeNow{
    background-color: #adff30;
}

.volumebar:hover .slider2{
    display: inline;
}

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
    .contents{
        padding: 30px 2%;
    }

    .card{
        width: calc((100vw - 200px - 0.04 * (100vw - 200px)) / 4);
    }

    .album-img{
        height: calc((100vw - 200px - 0.04 * (100vw - 200px)) / 4 - 20px);
    }    
}


/* .card{
    width: calc((100vw - 200px - 0.2 * (100vw - 200px)) / 6);
}

.album-img{
    height: calc((100vw - 200px - 0.2 * (100vw - 200px)) / 6 - 20px);
} */


/* .containerLarge{
    padding: 30px 10%;
}

.containerMedium{
    padding: 30px 4%;
} */